services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: on-failure:2
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
    driver: local

networks:
  app-network:
    driver: bridge

# open -a docker
# docker-compose up -d
## docker-compose --env-file .env up -d
# docker logs mysql
# docker-compose down

#Connect to MySQL in Sequel Ace with these settings:
#Host: 127.0.0.1
#Port: 3306
#Username: ${DB_USER} (from your .env file)
#Password: ${DB_PASS} (from your .env file)
#Database: pathfinder