.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        font-variation-settings: 'wght' 100;
    }
    50% {
        font-variation-settings: 'wght' 700;
    }
    100% {
        font-variation-settings: 'wght' 100;
    }
}