<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <title>Pathfinder</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/api/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom/mobile.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <meta name="_csrf" th:content="${_csrf.getToken()}"/>
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}"/>

    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.4.0/dist/leaflet.css}"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <script defer th:src="@{/js/api/jquery-3.5.1.slim.min.js}"></script>
    <script defer th:src="@{/js/api/bootstrap.bundle.min.js}"></script>

</head>

<body>

<header th:fragment="navigation">
    <nav class="main-nav">
        <ul class="list-group">

            <li>
                <a th:href="@{/}">Home</a>
            </li>

            <li>
                <a th:href="@{/routes/all}">ROUTES</a>
            </li>

            <th:block sec:authorize="isAuthenticated()">

                <li>
                    <a th:href="@{/routes/add}">Add new route</a>
                </li>

                <li>
                    <a th:href="@{/users/profile}">Profile</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                    <a class="btn btn-secondary dropdown-toggle" th:href="@{/}" id="navbar-drop-down" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>
                    <div class="dropdown-menu p-0 w-100" aria-labelledby="navbar-drop-down">
                        <a class="dropdown-item" th:href="@{/superuser/comments}">Comments</a>
                        <a class="dropdown-item"
                           sec:authorize="hasRole('ADMIN')"
                           th:href="@{/superuser/permissions}">Permissions</a>
                        <a class="dropdown-item disabled"
                           sec:authorize="!hasRole('ADMIN')"
                           href="#top">Permissions</a>
                    </div>
                </li>

                <li>
                    <form th:action="@{/users/logout}" th:method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>

            </th:block>

            <th:block sec:authorize="!isAuthenticated()">

                <li>
                    <a th:href="@{/users/login}">Login</a>
                </li>

                <li>
                    <a th:href="@{/users/register}">Register</a>
                </li>

                <li>
                    <a th:href="@{/about}">About</a>
                </li>
            </th:block>

            <div class="text-white font-weight-bold">
                Welcome,
                <span sec:authorize="!isAuthenticated()">&nbsp;Traveller</span>
                <span sec:authorize="isAuthenticated()"
                      th:text="${#authentication.principal.getUsername()}">
                    {Username}
                </span>
                !
            </div>

        </ul>
    </nav>
</header>

<div th:fragment="table-info"
     class="w-100 rounded border border-rounded">
    <table class="table table-striped table-primary table-bordered table-hover m-0 align-text-bottom">
        <thead class="bg-info text-white">
        <tr>
            <th class="col-2">User</th>
            <th class="col-7">Comment</th>
            <th class="col-1">Created</th>
            <th class="col-2">Actions</th>
        </tr>
        </thead>
    </table>
</div>

<footer th:fragment="footer" class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            Spring Playground 2023. Pathfinder Application.
        </div>
    </div>
</footer>

</body>

</html>
