<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>

<div class="wrapper">

    <header th:replace="~{fragments/commons::navigation}"></header>

    <section class="road">
        <div>
            <h2>Title</h2>
            <p>Very long description</p>
            <a href="/static" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" src="/images/pic1.jpg" alt="Title image">
    </section>
</div>

</body>

<footer th:replace="~{fragments/commons::footer}"></footer>

</html>