<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<script th:defer th:src="@{/js/api/ajax-google.js}"></script>
<!--https://developers.google.com/fonts/docs/material_symbols-->
<!--https://fonts.google.com/icons-->
<link th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200}"
      rel="stylesheet"/>
<link th:href="@{/css/custom/pulse.css}" rel="stylesheet"/>
<script th:defer th:src="@{/js/custom/ajax-modal-popup.js}"></script>

<script defer th:src="@{/js/custom/superuser.js}"></script>
<link rel="stylesheet" th:href="@{/css/custom/accordion.css}"/>

<body>
<header th:replace="~{fragments/commons::navigation}"></header>

<!--https://stackoverflow.com/questions/65626660/bootstrap-4-list-group-item-with-arrow-on-right-->
<div th:replace="~{fragments/parametrized-fragments::title (type='New Comments',
count=${superuserCommentsData.getNewCommentsCount()}, id='all-new-comments')}"></div>
<div th:replace="~{fragments/parametrized-fragments::admin-table-comments (data=${superuserCommentsData.getRouteComments()},
approved=false, prefix='new')}"></div>

<div th:replace="~{fragments/parametrized-fragments::title (type='Approved Comments',
count=${superuserCommentsData.getApprovedCommentsCount()}, id='all-old-comments')}"></div>
<div th:replace="~{fragments/parametrized-fragments::admin-table-comments (data=${superuserCommentsData.getRouteComments()},
approved=true, prefix='old')}"></div>

<!--https://stackoverflow.com/questions/63760856/get-data-attributes-in-a-modal-from-a-button-dynamically-->
<div th:replace="~{fragments/modal-popup::modal}"></div>

</body>
</html>
